.row{
    margin-top: 10px;
    margin-left: 20px;
    color: white;
}
.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar{
    display: none;
}


.poster{
    cursor: pointer;
    max-height: 250px;
    margin-right: 10px;
    border-radius: 5px;
}
.poster:hover{
    transform: scale(1.15);
}

.smallPoster{
    cursor: pointer;
   max-height:150px; 
   border-radius: 3x;
   margin-right: 8px;
}

.smallPoster:hover{
    transform: scale3d(1,1.4,1);
    transform: scale(1.15);
}